<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>
<div class="header">
	<a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
	<div class="left-border"></div>
	<a class="<%= path === '/weather' ? 'active' : '' %>" href="/weather">Weather</a>
	<div class="left-border"></div>
	<a class="<%= path === '/ncovid' ? 'active' : '' %>" href="/ncovid">nCoV</a>
	<div class="left-border"></div>
	<a class="<%= path === '/about' ? 'active' : '' %>" href="/about">about</a>
	<div class="left-border"></div>
	<a class="<%= path === '/help' ? 'active' : '' %>" href="/help">Help</a>
</div>